*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
body{
    background: url('photos/dom.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
/* for nav bar */
.head{
    color: rgb(27, 1, 1);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.5rem;
    cursor: pointer;
}
.head:hover{
    color: rgb(9, 236, 180);
}
span{
    color: rgb(255, 136, 0);
}
span:hover{
    color: rgb(0, 212, 0);
}
.navlist{
    color: rgb(14, 13, 13);
    font-family: 'Times New Roman', Times, serif;
    text-transform: capitalize;
    
}

.list a{
    display:inline-block;
    color: rgb(14, 14, 14);
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
}
a li{
    text-decoration: none;
    list-style: none;
    padding: 1em;
    font-size: 20px;
}
a li:hover{
   color: rgb(255, 136, 0);

}


.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 10px;
    box-shadow: 0px 0px 10px grey,0px 0px 20px cyan;
    
}
  .social a{
    color: rgb(0, 0, 0);
    font-size: 1.5em;
 }

 main{
     height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    background-repeat: no-repeat;
}
 .container{
    background-color: rgb(255, 255, 255);
    padding: 60px;
    display: inline-block;
    max-width: 700px;
    box-shadow: 0px 0px 10px grey,0px 0px 10px cyan;
    border-radius: 10px;
    margin: 0px auto;
    align-items: center;
    text-align: center;
    animation: slide;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    -o-animation-iteration-count: infinite;
}
@keyframes slide {
    0%{transform:translateY(0px)}
    50%{transform:translateY(-10px)}
    0%{transform:translateY(0px)}
}  
 

/* main body */
form{
    text-align: center;
}
#FirstName{
    width: 90%;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}
#FirstName:hover{
    box-shadow: 0px 0px 5px grey,0px 0px 5px cyan;
}
#FirstName{
    width: 90%;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}
#FirstName:hover{
    box-shadow: 0px 0px 5px grey,0px 0px 5px cyan;
}
#LastName{
    width: 90%;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}
#LastName:hover{
    box-shadow: 0px 0px 5px grey,0px 0px 5px cyan;
}
#MiddleName{
    width: 90%;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}
#MiddleName:hover{
    box-shadow: 0px 0px 5px grey,0px 0px 5px cyan;
}
#Email{
    width: 90%;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}
#Email:hover{
    box-shadow: 0px 0px 5px grey,0px 0px 5px cyan;
}
#Submit{
    border-radius: 10px;
    padding: 10px;
    background-color: rgba(0, 255, 255, 0);
}
#Submit:hover{
    background-color: rgb(255, 123, 0);
}
#textarea{
    border-radius: 10px;
    border-style: solid;
    border-width: 15px;
}


/* drop down styling */
.dropdown_menu a{
  text-decoration: none;
  color: black;
}

.toggle_btn {
  display: none;
  cursor: pointer;
}
.dropdown_menu {
  overflow: auto;
  position: absolute;
  top: 4.3rem;
  backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.651);
  width: 250px;
  color: white;
  text-decoration: none;
  color: black;
  text-align: center;
  right: -1%;
  height: 0px;
  border-radius: 5px;
  z-index: 9999;
}
.dropdown_menu.active {
  height: 300px;
}

/* media queries */
@media (max-width: 768px) {
  .navlist {
    display: none;
  }
  .social {
    display: none;
  }
  .toggle_btn {
    display: block;
  }
  .list {
    flex-direction: column;
    align-items: center;
  }
  .list li {
    margin: 10px 0;
  }
  .dropdown_menu a{
    color: rgb(15, 14, 14);
    text-decoration: none;
  }
}
@media (max-width:417px) {
    .container{
        padding-top: 20px;
        padding-bottom: 20px;
        max-width: 15rem;
        max-height: fit-content;
        margin-top: 10rem;
        
        
    }
    .newquote{
        padding: 5px;
    }
    .author{
        padding: 5px;
        font-size: 1.2em;
        margin-top: 5px;
    }
    .heading{
        font-size: 10px;
    }


}
